h1{
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    color: rgb(191, 0, 255);
    font-family: 'Hurricane', cursive;
    text-shadow: 5px 10px 10px rgb(249, 197, 255);
    }
    body{
    background-color: rgba(251, 251, 240, 0.787);
    }